{{ define "base" }}
<html>
<head>
  {{ template "title" . }}
</head>
<body>
  {{ template "scripts" . }}
  {{ template "sidebar" . }}
  {{ template "content" . }}
<footer>
  ...
</footer>
</body>
</html>

{{ define "scripts"}}{{ end }}
{{ define "sidebar"}}{{ end }}
